*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
/.idea
/application/cache
xinya.geany
/upload
/session
online_database.php
/backup/qdm116724237_db.sql
/application/logs/_jsapi_ticket.php
/application/logs
/backup/查询总金额.txt
